@import '../../styles/bootstrap-vars.scss';

.UserDocumentStep {
  p {
    cursor: default;
  }
  .SignatureDocumentPageStep {
    padding: 0.4em 0.6em;
    cursor: default;

    & .StepCheck {
      display: none;
    }

    &.StepCompleted {
      opacity: 0.6;

      & .StepCheck {
        display: inline;
      }
    }

    &.CurrentStep {
      opacity: 1;
      font-weight: 700;
      background-color: white;
      color: $primary;
    }
  }

  &.CurrentDocument {
    p {
      cursor: pointer;
      font-weight: bold;
    }

    .SignatureDocumentPageStep {
      cursor: pointer;
    }
  }
}