@import '../../styles/bootstrap-vars.scss';

.TopazCapture {
  .TopazSignaturePreview {
    img {
      height: auto;
      width: 500px;
      border: 1px solid black;
      padding-bottom: 4px;
      margin: 10px auto;
    }
    
    &.FinalPreview {
      margin: 2em 0;

      img {
        border: 0;
        border-bottom: 1px solid black;
      }
    }
  }
}